#chat{
background-color: lightgray;
width: 60%;
height: 500px;
border-style: inset;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
#message{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    max-width: 500px;
    word-wrap: break-word;
}